
// Ensuite, importez votre fichier "style-menu.scss"
@import 'style-menu';

// Import des polices Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Shrikhand&display=swap");

// Variables
$icon_map: --grey, #353535;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

// Global Styles
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

// Header Styles
.header__logo {
  background: var(--white, #FFF);
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
}

.header__logo-img {
  max-width: 180px;
  height: auto;
}


/* Header Styles */
.header__back-button {
  position: absolute;
  top: 30px; 
  left: 20px; 
  cursor: pointer;
}

.header__back-button i {
  font-size: 20px;
  color: #000000;
  transition: color 0.3s;
}


// Location Styles
.location {
  background: var(--grey-2, #EAEAEA);
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;

  .location__icon {
    margin-right: 1px;

    i {
      font-size: 15px;
      color: $icon_map;
    }
  }

  .location__text {
    p {
      font-size: 18px;
    }
  }
}

// Intro Styles
.intro {
  background: var(--background, #F6F6F6);
  text-align: center;
  padding: 20px;

  h2 {
    color: $icon_map;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .intro__explore-button {
    display: inline-block;
    background-color: null;
    color: white;
    padding: 16px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
    /* Shadow/Button */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 600ms;

    &:hover {
      background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
      transition: all 600ms;
    }
  }
}

// Fonctionement

.functioning {
  padding: 40px 0;

  h2 {
    margin-left: 20px;
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left; /* Aligner le titre à gauche */
  }

  .functioning__content {
    max-width: 100%; /* Limiter la largeur du contenu à la largeur de la fenêtre */
    margin: 0 auto; /* Centrer le contenu horizontalement */
    display: flex;
    flex-direction: column; /* Afficher les étapes en colonne */
    align-items: center;

    .functioning__step {
      width: 80%;
      height: 75px;
      display: flex;
      align-items: center; /* Aligner l'icône et le texte sur la même ligne */
      font-size: 16px;
      margin-bottom: 20px;
      border-radius: 20px;
      background: var(--background, #F6F6F6);
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      position: relative;

      .functioning__step-number {
        width: 24px;
        height: 24px; 
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -12px; 
        top: 30%;
        transform: translateY(-50%);
        background: var(--primary, #9356DC);
        border-radius: 50%;
        color: white;
      }

      .functioning__step-details {
        display: flex; 
        align-items: center; 
        padding: 10px;
        margin-left: 40px; 
        font-weight: 600; 
        gap: 10px;
        font-style: normal;

        i {
          font-size: 18px;
          color: $primary-color;
          margin-right: 15px; 
        }
      }
    }
  }
}



//restaurant 

// Mixin pour les coins arrondis
@mixin rounded-corners($top-left: 0, $top-right: 0, $bottom-left: 0, $bottom-right: 0) {
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-left-radius: $bottom-left;
  border-bottom-right-radius: $bottom-right;
}

// Mixin pour le fond vert "Nouveau"
@mixin new-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    color: #008766;
    background-color: #99E2D0;
    font-size: 0.875rem;
    font-weight: 500;
    margin:12px;
}

// Styles pour la section des restaurants
.restaurants {
  background: #F6F6F6; // Votre couleur d'arrière-plan pour la section des restaurants
  padding: 20px; // Ajustez le remplissage selon vos besoins
}

// Styles pour les cartes de restaurant
.restaurant-card {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  text-decoration: none; // Supprimer le soulignement bleu
  color: inherit;
  @include rounded-corners(10px, 10px, 10px, 10px); // Coins arrondis en haut et en bas
  
 
  .restaurant-card__details-text h2{
    margin: 0px;
    margin-bottom: 5px;
  }
  .restaurant-card__details-text p {
    margin: 0px;
    font-weight: normal;
  }


  &__image {
    min-width: 100%;
    max-width: 100%;
    max-height: 250px;
    min-height: 250px;
    display: block;
    object-fit: cover;
    @include rounded-corners(10px, 10px, 0, 0); // Coins arrondis en haut
  }

  &__details { 
    margin-bottom: 30px;
    padding: 16px;
    background-color: #ffffff;
    display: flex;
    @include rounded-corners(0, 0, 10px, 10px); // Coins arrondis en bas

    &-text{
      
      width: 100%;
      h2{
        font-weight: bold;
        font-size:20px ;
        margin-block: 0px;
        margin-block-start: 0px;
      }
    }

    &-name {
      font-weight: bold;
    }

    &-location {
       p{
        font-size: 18px;
        margin-block: 0px;
        margin-block-start: 0px;
      }
    }
  }

  &__details-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
    .empty {
      font-size: 24px;
      color: #000000; 
      cursor: pointer;
      transition: color 0.3s;
    }
  
    &:hover i {
      color: #c667db; 
    }
  }

  .full{
    position: absolute;
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 22px;
    transition: all 400ms;

    &:hover{
        opacity: 1;
    }
  }

  &.new::before {
    // Ajout du rectangle "Nouveau" seulement pour les cartes avec la classe "new"
    @include new-tag;
    content: "Nouveau";
  }
}



// Footer Styles
.footer {
  background: var(--grey, #353535);
  padding: 20px;
  color: #ffffff;

  .footer__logo {
    filter: brightness(0) invert(1);
    width: 90px;
    height: auto;
    flex-shrink: 0;
  }

  .footer__list {
    list-style: none;
    padding: 0;

    .footer__item {
      display: flex;
      align-items: center;
      padding: 5px 0;
      font-size: 14px;
      color: #fff;
      font-weight: 500;

      .footer__icon {
        margin-right: 10px;
        font-size: 14px;
        color: #fff;
        width: 16px; /* Ajout de la largeur fixe pour l'icône */
        text-align: center; /* Centrer l'icône horizontalement */
      }
    }

    .footer__item--light {
      color: #fff;
      font-weight: 400;
    }

    .footer__item--light a {
      color: #fff;
      font-weight: 400;
      text-decoration: none;
    }
  }
}




/* Styles pour le loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(185, 185, 185); /* Fond gris semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Placez le loader au-dessus du contenu de la page */
  animation: fadeOut 0.5s 3s forwards; /* Animation pour masquer le loader après 3 secondes */
}

.loader-content {
  text-align: center;
}

/* Ajout du spinner circulaire */
.spinner {
  border: 8px solid #3498db; /* Bleu */
  border-top: 8px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite; /* Animation de rotation */
}

/* Animation de spin pour le spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Animation de fade out pour le loader */
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

/* Animation de fond pour le loader */
@keyframes changeBackgroundColor {
  0% { background: rgba(255, 255, 255, 0.9); }
  50% { background: rgba(255, 255, 255, 0.7); }
  100% { background: rgba(255, 255, 255, 0.9); }
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}





// Media Query pour les écrans de bureau
@media screen and (min-width: 768px) {

  .intro h2 {
    font-size: 35px;
}


  .functioning .functioning__content {
    flex-direction: row; // Afficher les étapes en ligne
    justify-content: space-evenly; // Espacement égal entre les étapes

    // Styles pour les 3 cartes de "Fonctionnement"
    .functioning__step {
      width: calc(27% - 20px); // Réduire la largeur des cartes
      max-height: 150px; // Réduire la hauteur des cartes
      margin-right: 20px; // Ajouter de l'espace entre les cartes
    }

   
  }

  // Autres styles pour "Fonctionnement" et "Restaurants" (déjà définis)
  .functioning{
    margin-left: 130px;
  }

  .container1, .container2 {
    display: flex;
    gap: 100px; 
    padding-bottom: 20px;
  }

  .restaurants {
    padding-right: 150px;
    padding-left: 150px;
}

.restaurant-card__details-text h2{
  margin: 0px;
}
.restaurant-card__details-text p {
  margin: 0px;
  font-weight: normal;
}


  .restaurant-card{
    flex:1 1;
  }

  .restaurant-card__image{
    max-height: 150px;
    min-height: 100px;
  }

  .restaurant-card__details {
    margin-bottom: 1px;
    padding: 16px;
    background-color: #ffffff;
    display: flex;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-end; 
  background: var(--grey, #353535);
  color: #fff;
 

  .footer__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
    margin-bottom: 0; 

    .footer__item {
      display: flex;
      align-items: center;
      padding: 5px 10px; 
      font-size: 14px;
      color: #fff;
      font-weight: 500;
      margin-right: 15px;
      margin-left:-25px;

      .footer__icon {
        margin-right: 10px;
        font-size: 14px;
        color: #fff;
        width: 16px;
        text-align: center;
      }

      &--light {
        color: #fff;
        font-weight: 400;
        margin-left: -5px;
        margin-right: -3px ;
      }

      &--light a {
        color: #fff;
        font-weight: 400;
        margin-left: -5px;
        margin-right: -3px ;
        text-decoration: none;
      }
    }

  }

  .footer__logo-container {
    flex-shrink: 0;
    order: 2; 
    margin: 0; 
    margin-left:80px
  }
}
}








